<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
    </li>
    <li class="active">Phân công giảng viên hướng dẫn thực tập chuyên ngành</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;" class="btn btn-primary btn-xs">
        <i class="fa fa-search"></i>&nbsp;&nbsp;Phân công
      </a>
    </p>
  </div>
</div>
<div class="page-content">
  <div class="row">
    <div class="ui-g-12" *ngIf="showSearchPanel">
      <p-panel class="ui-fluid">
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">Phân
              công</span>
            <p class="pull-right no-margin">

              <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                class="btn btn-xs btn-primary" style="width: 29.29px">
                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
              </button>
            </p>
          </div>
        </p-header>
        <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
          <div class="ui-g lap-form">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Lớp
                </div>
                <div class="ui-g-12 ui-md-4">
                  <ng-selectize [config]="selectizeConfig(1, 'label', 'value', false)"
                    (ngModelChange)="chooseClass($event)" [options]="dropdown" formControlName="class"
                    placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
                  <!-- [ngModel]="selectedClass" -->
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    <div class="ui-g-12 datatable-container">
      <div class="row">
        <div class="col-xs-12">
          <p-table #datatable [value]="data" [lazy]="true" [rows]="pageSize" [(selection)]="selectedDataTableItems">
            <ng-template pTemplate="caption">
              <div style="display: flex; justify-content: space-between; align-items: center">
                <div>
                  <span>Lớp: {{selectedClass?.name}}</span>
                  <span style="margin-left: 2rem;">Chuyên ngành: {{selectedClass?.major}}</span>
                  <span style="margin-left: 2rem;">Sĩ số: {{selectedClass?.number}}</span>
                </div>
                <div>
                  <a *ngIf="data.length > 0" class="btn btn-success btn-xs" (click)="insertLecturer()"><i
                    class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'COMMON.add' | translate }}</a>
                </div>

              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 38px; text-align: center;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 70px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                <th style="text-align: left;">Mã GV</th>
                <th style="text-align: left;">Tên giảng viên</th>
                <th style="text-align: left;">Số lượng sinh viên GS</th>
                <th style="width: 120px; text-align: left;" *ngIf="hasUpdatePermission || hasDeletePermission">{{
                  'COMMON.action' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr [pSelectableRow]="row">
                <td style="width: 38px; text-align: center;">
                  <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td>
                <td style="width: 70px; text-align: center;">
                  <div class="index_{{ row?.id }}">{{ first + i + 1 }}</div>
                </td>
                <td style="text-align: left;">{{ row?.id }}</td>
                <td style="text-align: left;">
                  <ng-selectize [config]="selectizeConfig(1, 'name', 'id', false)"
                    (ngModelChange)="chooseLecturer($event)" [ngModel]="row.id" [options]="lecturers"
                    placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
                </td>
                <td style="text-align: right;">{{ row?.number }}</td>
                <td class="action-col" style="width: 120px; text-align: center;"
                  *ngIf="hasUpdatePermission || hasDeletePermission">
                  <div class="btn-group">
                    <button title="Di chuyển lên" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasUpdatePermission"><i class="ace-icon fa fa-angle-up"></i></button>
                    <button title="Di chuyển xuống" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasUpdatePermission"><i class="ace-icon fa fa-angle-down"></i></button>
                    <button title="{{ 'COMMON.delete' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasDeletePermission" (click)="removeLecturer(row?.id)">
                      <i class="ace-icon fa fa-trash bigger-120"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="50">
                  <div style="text-align: center;display: flex;justify-content: center; position: relative;">
                    <div style="display: inline-block">
                      <p-paginator [first]="first" dropdownAppendTo="body" [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [rows]="pageSize"
                        [pageLinkSize]="10"></p-paginator>
                    </div>
                    <div class="custom-ng-star-inserted">
                      <div class="ui-inputgroup">
                        <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt" (keypress)="goToPage($event)"
                          [(ngModel)]="page" pInputText placeholder="{{ 'COMMON.page_number' | translate }}">
                        <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                        <button pButton type="button" (click)="goToPage($event)" icon="fa-random"
                          class="ui-button-secondary"></button>
                      </div>
                    </div>
                    <button *ngIf="data.length > 0" style="float: right;position: absolute;right: 0px;border: none;"
                      class="btn btn-success">Xác nhận</button>
                    <div class="clearfix"></div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="50">
                  {{ 'COMMON.empty_table' | translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="{{ 'COMMON.confirm' | translate }}" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button class="btn-success" type="button" pButton icon="fa-check" label="{{ 'COMMON.ok' | translate }}"
      (click)="cd.accept()"></button>
    <button class="btn-default" type="button" pButton icon="fa-close" label="{{ 'COMMON.cancel' | translate }}"
      (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>