<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
        </li>
        <li class="active">Xem giảng viên</li>
    </ul>
    <div class="nav-search">
        <p class="pull-right no-margin">
            <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;"
                class="btn btn-primary btn-xs">
                <i class="fa fa-search"></i>&nbsp;&nbsp;{{ 'COMMON.search' | translate }}
            </a>
        </p>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="ui-g-12" *ngIf="showSearchPanel">
            <p-panel class="ui-fluid">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">{{
                            'COMMON.search' | translate }}</span>
                        <p class="pull-right no-margin">

                            <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                                class="btn btn-xs btn-primary" style="width: 29.29px">
                                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
                            </button>
                        </p>
                    </div>
                </p-header>
                <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
                    <div class="ui-g lap-form">
                        <div class="ui-g-12">
                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">
                                    Tên giảng viên
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <input pInputText formControlName="teacher_name" ngModel type="text" />
                                </div>
                            </div>


                            <div class="clearfix"></div>
                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">&nbsp;</div>
                                <div class="ui-g-12 ui-md-2">
                                    <button type="submit" class="btn btn-primary btn-xs">
                                        <i class="fa fa-search"></i> {{ 'COMMON.search' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
        <div class="ui-g-12 datatable-container">
            <div class="row">
                <div class="col-xs-12">
                    <p-tabView>
                        <p-tabPanel header="Công nghệ phần mềm">
                           <p-table #datatable [value]="data" [lazy]="true" [rows]="pageSize"
                               [(selection)]="selectedDataTableItems">
                               <ng-template pTemplate="header">
                                   <tr>
                                       <th style="width: 70px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                                       <th style="text-align: left;">Họ và tên</th>
                                       <th style="text-align: left;">Chức vụ</th>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-row let-i="rowIndex">
                                   <tr [pSelectableRow]="row">
                                       <td style="width: 70px; text-align: center;">
                                           <div class="index_{{ row?.teacher_id_rcd }}">{{ first + i + 1 }}</div>
                                       </td>
                                       <td style="text-align: left;">{{row?.teacher_name}}</td>
                                       <td style="text-align: left;">{{row?.role}}</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="footer">
                                   <tr>
                                       <td colspan="50">
                                           <div
                                               style="text-align: center;display: flex;justify-content: center; position: relative;">
                                               <div style="float: left; position: absolute;left: 0px;padding-top: 3px;">
                                                   <p-splitButton *ngIf="tableActions.length > 0"
                                                       [disabled]="selectedDataTableItems.length == 0"
                                                       label="{{ 'COMMON.action' | translate }}" icon="fa-check"
                                                       [model]="tableActions">
                                                   </p-splitButton>
                                               </div>
                                               <div style="display: inline-block">
                                                   <p-paginator [first]="first" dropdownAppendTo="body"
                                                       [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                                                       [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"
                                                       [rows]="pageSize" [pageLinkSize]="10"></p-paginator>
                                               </div>
                                               <div class="custom-ng-star-inserted">
                                                   <div class="ui-inputgroup">
                                                       <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt"
                                                           (keypress)="goToPage($event)" [(ngModel)]="page" pInputText
                                                           placeholder="{{ 'COMMON.page_number' | translate }}">
                                                       <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                                                       <button pButton type="button" (click)="goToPage($event)"
                                                           icon="fa-random" class="ui-button-secondary"></button>
                                                   </div>
                                               </div>
                                               <span style="float: right;position: absolute;right: 0px;padding-top: 3px;">{{
                                                   pageLabel }}</span>
                                               <div class="clearfix"></div>
                                           </div>
                                       </td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="emptymessage">
                                   <tr>
                                       <td colspan="50">
                                           {{ 'COMMON.empty_table' | translate}}
                                       </td>
                                   </tr>
                               </ng-template>
                           </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Khoa học máy tính">
                            <p-table #datatable [value]="data" [lazy]="true" [rows]="pageSize"
                               [(selection)]="selectedDataTableItems">
                               <ng-template pTemplate="header">
                                   <tr>
                                       <th style="width: 70px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                                       <th style="text-align: left;">Họ và tên</th>
                                       <th style="text-align: left;">Chức vụ</th>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-row let-i="rowIndex">
                                   <tr [pSelectableRow]="row">
                                       <td style="width: 70px; text-align: center;">
                                           <div class="index_{{ row?.teacher_id_rcd }}">{{ first + i + 1 }}</div>
                                       </td>
                                       <td style="text-align: left;">{{row?.teacher_name}}</td>
                                       <td style="text-align: left;">{{row?.role}}</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="footer">
                                   <tr>
                                       <td colspan="50">
                                           <div
                                               style="text-align: center;display: flex;justify-content: center; position: relative;">
                                               <div style="float: left; position: absolute;left: 0px;padding-top: 3px;">
                                                   <p-splitButton *ngIf="tableActions.length > 0"
                                                       [disabled]="selectedDataTableItems.length == 0"
                                                       label="{{ 'COMMON.action' | translate }}" icon="fa-check"
                                                       [model]="tableActions">
                                                   </p-splitButton>
                                               </div>
                                               <div style="display: inline-block">
                                                   <p-paginator [first]="first" dropdownAppendTo="body"
                                                       [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                                                       [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"
                                                       [rows]="pageSize" [pageLinkSize]="10"></p-paginator>
                                               </div>
                                               <div class="custom-ng-star-inserted">
                                                   <div class="ui-inputgroup">
                                                       <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt"
                                                           (keypress)="goToPage($event)" [(ngModel)]="page" pInputText
                                                           placeholder="{{ 'COMMON.page_number' | translate }}">
                                                       <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                                                       <button pButton type="button" (click)="goToPage($event)"
                                                           icon="fa-random" class="ui-button-secondary"></button>
                                                   </div>
                                               </div>
                                               <span style="float: right;position: absolute;right: 0px;padding-top: 3px;">{{
                                                   pageLabel }}</span>
                                               <div class="clearfix"></div>
                                           </div>
                                       </td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="emptymessage">
                                   <tr>
                                       <td colspan="50">
                                           {{ 'COMMON.empty_table' | translate}}
                                       </td>
                                   </tr>
                               </ng-template>
                           </p-table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>