<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
        </li>
        <li class="active">Xem bộ môn</li>
    </ul>
    <div class="nav-search">
        <p class="pull-right no-margin">
            <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;"
                class="btn btn-primary btn-xs">
                <i class="fa fa-search"></i>&nbsp;&nbsp;{{ 'COMMON.search' | translate }}
            </a>
            <a *ngIf="hasCreatePermission" class="btn btn-success btn-xs" (click)="openCreateModal()"><i
                    class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'COMMON.add' | translate }}</a>
        </p>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="ui-g-12" *ngIf="showSearchPanel">
            <p-panel class="ui-fluid">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">{{
                            'COMMON.search' | translate }}</span>
                        <p class="pull-right no-margin">

                            <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                                class="btn btn-xs btn-primary" style="width: 29.29px">
                                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
                            </button>
                        </p>
                    </div>
                </p-header>
                <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
                    <div class="ui-g lap-form">
                        <div class="ui-g-12">
                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">
                                    Something
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <input pInputText formControlName="tag_name" ngModel type="text" />
                                </div>
                            </div>


                            <div class="clearfix"></div>
                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">&nbsp;</div>
                                <div class="ui-g-12 ui-md-2">
                                    <button type="submit" class="btn btn-primary btn-xs">
                                        <i class="fa fa-search"></i> {{ 'COMMON.search' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
        <div class="ui-g-12 datatable-container">
            <div class="row">
                <div class="col-xs-12">
                    <p-tabView>
                        <p-tabPanel header="Công nghệ phần mềm">
                            <p-table [value]="data" dataKey="name" responsiveLayout="scroll" [lazy]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem;"></th>
                                        <th style="width: 3rem">{{ 'COMMON.index' | translate }}</th>
                                        <th>Tên ngành</th>
                                        <th>Ngày TL</th>
                                        <th>Mô tả</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row1 let-i="rowIndex" let-expanded="expanded">
                                    <tr>
                                        <td>
                                            <button type="button" pButton style="padding: 4px 8px;" [pRowToggler]="row1"  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                        </td>
                                        <td>{{ first + i + 1 }}</td>
                                        <td>{{row1?.name}}</td>
                                        <td>{{row1?.date}}</td>
                                        <td>{{row1?.description}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="rowexpansion" let-data>
                                    <tr>
                                        <td colspan="7">
                                            <div class="p-3">
                                                <p-table [value]="data.children" dataKey="name">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th style="width: 3rem;">{{ 'COMMON.index' | translate }}</th>
                                                            <th>Tên chuyên ngành</th>
                                                            <th>Ngày TL</th>
                                                            <th>Mô tả</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-row2 let-i="rowIndex">
                                                        <tr>
                                                            <td>{{ first + i + 1 }}</td>
                                                            <td>{{row2?.name}}</td>
                                                            <td>{{row2?.date}}</td>
                                                            <td>{{row2?.description}}</td>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="emptymessage">
                                                        <tr>
                                                            <td colspan="6">There are no order for this product yet.</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Khoa học máy tính">
                            Content 2
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(hasCreatePermission || hasUpdatePermission) && showUpdateModal" id="updateWebsiteTagModal"
        class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isCreate" class="modal-title">{{ 'MODULE.CMS.create_website_tag' | translate }}</h4>
                    <h4 *ngIf="!isCreate" class="modal-title">{{ 'MODULE.CMS.update_website_tag' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="!doneSetupForm" class="loading-overlay">
                        <i class="fa fa-spinner fa-spin orange"></i>
                    </div>
                    <form *ngIf="doneSetupForm" [formGroup]="updateForm" id="updateForm" class="lap-form">
                        <div class="row ui-fluid">

                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">
                                    {{ 'MODULE.CMS.tag_name' | translate }}
                                    <span class="red">&nbsp;*</span>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    <error-messages class="has-dl" [errors]="updateForm.controls['tag_name_l'].errors"
                                        [control]="updateForm.controls['tag_name_l']"></error-messages>
                                    <error-messages class="has-dl" [errors]="updateForm.controls['tag_name_e'].errors"
                                        [control]="updateForm.controls['tag_name_e']"></error-messages>
                                    <div class="ui-inputgroup dual-language">
                                        <input pInputText formControlName="tag_name_l" [class.hidden]="!local_flag"
                                            [(ngModel)]="website_tag.tag_name_l" type="text" />
                                        <input pInputText formControlName="tag_name_e" [class.hidden]="local_flag"
                                            [(ngModel)]="website_tag.tag_name_e" type="text" />
                                        <language-switcher [(local_flag)]="local_flag"
                                            (local_flagChange)="flagChange()">
                                        </language-switcher>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">
                                    {{ 'MODULE.CMS.sort_order' | translate }}
                                </div>
                                <div class="ui-g-12 ui-md-4">
                                    <error-messages [errors]="updateForm.controls['sort_order'].errors"
                                        [control]="updateForm.controls['sort_order']"></error-messages>
                                    <input pInputText formControlName="sort_order" [(ngModel)]="website_tag.sort_order"
                                        type="text" />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-form-group">
                                <div class="ui-g-12 ui-md-2 inline-label text-right">
                                    {{ 'MODULE.CMS.tag_description' | translate }}
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    <error-messages class="has-dl"
                                        [errors]="updateForm.controls['tag_description_l'].errors"
                                        [control]="updateForm.controls['tag_description_l']"></error-messages>
                                    <error-messages class="has-dl"
                                        [errors]="updateForm.controls['tag_description_e'].errors"
                                        [control]="updateForm.controls['tag_description_e']"></error-messages>
                                    <div class="ui-inputgroup dual-language">
                                        <textarea [rows]="3" formControlName="tag_description_l"
                                            [class.hidden]="!local_flag" [(ngModel)]="website_tag.tag_description_l"
                                            pInputTextarea style="resize: none" autoResize="false"></textarea>
                                        <textarea [rows]="3" formControlName="tag_description_e"
                                            [class.hidden]="local_flag" [(ngModel)]="website_tag.tag_description_e"
                                            pInputTextarea style="resize: none" autoResize="false"></textarea>
                                        <language-switcher [(local_flag)]="local_flag"
                                            (local_flagChange)="flagChange()">
                                        </language-switcher>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="!doneSetupForm" class="btn btn-default btn-sm"
                        (click)="resetUpdateForm()">
                        <i class="fa fa-sync-alt"></i> {{ 'COMMON.reset' | translate }}
                    </button>
                    <button type="button" (click)="onSubmit()"
                        [disabled]="!doneSetupForm || !updateForm.valid || !enabledSubmitFlag || submitting"
                        class="btn btn-success btn-sm btn-submit">
                        <i class="fa fa-save"></i> {{ 'COMMON.ok' | translate }}
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-close" (click)="closeUpdateForm($event)">
                        <i class="fa fa-times"></i> {{ 'COMMON.cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="{{ 'COMMON.confirm' | translate }}" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button class="btn-success" type="button" pButton icon="fa-check" label="{{ 'COMMON.ok' | translate }}"
            (click)="cd.accept()"></button>
        <button class="btn-default" type="button" pButton icon="fa-close" label="{{ 'COMMON.cancel' | translate }}"
            (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>