<div id="mediaCamera" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 class="modal-title">{{ 'MODULE.CATEGORY.create_app_appointment_method_ref' | translate }}</h4> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <!-- <webcam (imageCapture)="handleImage($event)"></webcam> -->
          </div>
          <div class="col-md-6">
            <!-- <img [src]="webcamImage.imageAsDataUrl" /> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm"> <!-- (click)="triggerSnapshot();" -->
          <!-- <i class="fa fa-save"></i> {{ 'COMMON.ok' | translate }} -->
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <!-- <i class="fa fa-times"></i> {{ 'COMMON.cancel' | translate }} -->
        </button>
      </div>
    </div>
  </div>
</div>