<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
    </li>
    <li class="active">Chương trình đào tạo</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;" class="btn btn-primary btn-xs">
        <i class="fa fa-search"></i>&nbsp;&nbsp;{{ 'COMMON.search' | translate }}
      </a>
      <a *ngIf="hasCreatePermission" class="btn btn-success btn-xs" (click)="openCreateModal()"><i
          class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'COMMON.add' | translate }}</a>
    </p>
  </div>
</div>
<div class="page-content">
  <div class="row">
    <div class="ui-g-12" *ngIf="showSearchPanel">
      <p-panel class="ui-fluid">
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">{{
              'COMMON.search' | translate }}</span>
            <p class="pull-right no-margin">

              <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                class="btn btn-xs btn-primary" style="width: 29.29px">
                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
              </button>
            </p>
          </div>
        </p-header>
        <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
          <div class="ui-g lap-form">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.web_info_rcd' | translate }}
                </div>
                <div class="ui-g-12 ui-md-4">
                  <input pInputText formControlName="web_info_rcd" ngModel type="text" />
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.web_info_faculty' | translate }}
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input pInputText formControlName="web_info_faculty" ngModel type="text" />
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">&nbsp;</div>
                <div class="ui-g-12 ui-md-2">
                  <button type="submit" class="btn btn-primary btn-xs">
                    <i class="fa fa-search"></i> {{ 'COMMON.search' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    <div class="ui-g-12 datatable-container">
      <div class="row">
        <div class="col-xs-12">
          <p-table #datatable [value]="data" [lazy]="true" [rows]="pageSize" [(selection)]="selectedDataTableItems">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 38px; text-align: center;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 70px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                <th style="width: 10%; text-align: left;">Hệ đào tạo</th>
                <th style="text-align: left;">Ngành đào tạo</th>
                <th style="text-align: left;">Loại chương trình đào tạo</th>
                <th style="text-align: left;">Tổng số tín chỉ</th>
                <th style="text-align: left;">Trạng thái</th>
                <th style="width: 180px; text-align: left;" *ngIf="hasUpdatePermission || hasDeletePermission">{{
                  'COMMON.action' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr [pSelectableRow]="row">
                <td style="width: 38px; text-align: center;">
                  <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td>
                <td style="width: 70px; text-align: center;">
                  <div class="index_{{ row?.major_id }}">{{ first + i + 1 }}</div>
                </td>
                <td style="width: 10%; text-align: left;">{{ row?.degree_id }}</td>
                <td style="text-align: left;">{{ row?.major_id }}</td>
                <td style="text-align: left;">{{ row?.web_info_address }}</td>
                <td style="text-align: left;">{{ row?.web_info_email }}</td>
                <td style="text-align: left;">{{ row?.web_info_phone }}</td>
                <td class="action-col" style="width: 120px; text-align: left;"
                  *ngIf="hasUpdatePermission || hasDeletePermission">
                  <div class="btn-group">
                    <a type="button" class="btn btn-xs btn-white btn-default">Xem</a>
                    <button title="{{ 'COMMON.update' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasUpdatePermission" (click)="openUpdateModal(row)"><i
                        class="ace-icon fa fa-edit"></i></button>
                    <button title="{{ 'COMMON.delete' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasDeletePermission" (click)="onRemove([row])">
                      <i class="ace-icon fa fa-trash bigger-120"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="50">
                  <div style="text-align: center;display: flex;justify-content: center; position: relative;">
                    <div style="float: left; position: absolute;left: 0px;padding-top: 3px;">
                      <p-splitButton *ngIf="tableActions.length > 0" [disabled]="selectedDataTableItems.length == 0"
                        label="{{ 'COMMON.action' | translate }}" icon="fa-check" [model]="tableActions">
                      </p-splitButton>
                    </div>
                    <div style="display: inline-block">
                      <p-paginator [first]="first" dropdownAppendTo="body" [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [rows]="pageSize"
                        [pageLinkSize]="10"></p-paginator>
                    </div>
                    <div class="custom-ng-star-inserted">
                      <div class="ui-inputgroup">
                        <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt" (keypress)="goToPage($event)"
                          [(ngModel)]="page" pInputText placeholder="{{ 'COMMON.page_number' | translate }}">
                        <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                        <button pButton type="button" (click)="goToPage($event)" icon="fa-random"
                          class="ui-button-secondary"></button>
                      </div>
                    </div>
                    <span style="float: right;position: absolute;right: 0px;padding-top: 3px;">{{ pageLabel }}</span>
                    <div class="clearfix"></div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="50">
                  {{ 'COMMON.empty_table' | translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(hasCreatePermission || hasUpdatePermission) && showUpdateModal" id="updateWebsiteInfoRefModal"
    class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="isCreate" class="modal-title">Thêm chương trình đào tạo</h4>
          <h4 *ngIf="!isCreate" class="modal-title">Sửa chương trình đào tạo</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="!doneSetupForm" class="loading-overlay">
            <i class="fa fa-spinner fa-spin orange"></i>
          </div>
          <form *ngIf="doneSetupForm" [formGroup]="updateForm" id="updateForm" class="lap-form" style="min-height: 50vh;">
            <div class="row ui-fluid">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Ngành đào tạo
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['web_info_rcd'].errors"
                    [control]="updateForm.controls['web_info_rcd']"></error-messages>
                  <p-dropdown formControlName="web_info_rcd" [options]="majors" [(ngModel)]="selectedMajor"
                    optionLabel="name"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Năm bắt đầu đào tạo
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['sort_order'].errors"
                    [control]="updateForm.controls['sort_order']"></error-messages>
                  <p-dropdown formControlName="sort_order" [options]="years" [(ngModel)]="selectedYear"
                    optionLabel="name"></p-dropdown>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Hệ đào tạo
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['web_info_email'].errors"
                    [control]="updateForm.controls['web_info_email']"></error-messages>
                  <p-dropdown formControlName="web_info_email" [options]="degrees" [(ngModel)]="selectedDegree"
                    optionLabel="name"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Loại chương trình đào tạo
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['web_info_phone'].errors"
                    [control]="updateForm.controls['web_info_phone']"></error-messages>
                    <p-dropdown formControlName="web_info_phone" [options]="types" [(ngModel)]="selectedType" optionLabel="name"></p-dropdown>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Người phê duyệt
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['web_info_facebook'].errors"
                    [control]="updateForm.controls['web_info_facebook']"></error-messages>
                  <p-dropdown formControlName="web_info_facebook" [options]="teachers" [(ngModel)]="selectedTeacher"
                    optionLabel="name"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Thời gian phê duyệt
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['web_info_zalo'].errors"
                    [control]="updateForm.controls['web_info_zalo']"></error-messages>
                    <p-calendar formControlName="web_info_zalo" [(ngModel)]="time" [showIcon]="true" inputId="icon"></p-calendar>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Tổng số tín chỉ
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['web_info_website'].errors"
                    [control]="updateForm.controls['web_info_website']"></error-messages>
                  <input pInputText formControlName="web_info_website" [(ngModel)]="website_info_ref.web_info_website"
                    type="text" />
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Nội dung
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-10">
                  <error-messages [errors]="updateForm.controls['web_info_website'].errors"
                    [control]="updateForm.controls['web_info_website']"></error-messages>
                  <textarea pInputText formControlName="web_info_website"
                    [(ngModel)]="comment" type="text"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!doneSetupForm" class="btn btn-default btn-sm" (click)="resetUpdateForm()">
            <i class="fa fa-sync-alt"></i> {{ 'COMMON.reset' | translate }}
          </button>
          <button type="button" (click)="onSubmit()"
            [disabled]="!doneSetupForm || !updateForm.valid || !enabledSubmitFlag || submitting"
            class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> {{ 'COMMON.ok' | translate }}
          </button>
          <button type="button" class="btn btn-default btn-sm btn-close" (click)="closeUpdateForm($event)">
            <i class="fa fa-times"></i> {{ 'COMMON.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="{{ 'COMMON.confirm' | translate }}" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button class="btn-success" type="button" pButton icon="fa-check" label="{{ 'COMMON.ok' | translate }}"
      (click)="cd.accept()"></button>
    <button class="btn-default" type="button" pButton icon="fa-close" label="{{ 'COMMON.cancel' | translate }}"
      (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>