<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
    </li>
    <li class="active">{{ 'MODULE.CMS.item_publish' | translate }}</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;" class="btn btn-primary btn-xs">
        <i class="fa fa-search"></i>&nbsp;&nbsp;{{ 'COMMON.search' | translate }}
      </a>
    </p>
  </div>
</div>
<div class="page-content">
  <div class="row">
    <div class="ui-g-12" *ngIf="showSearchPanel">
      <p-panel class="ui-fluid">
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">{{
              'COMMON.search' | translate }}</span>
            <p class="pull-right no-margin">
              <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                class="btn btn-xs btn-primary" style="width: 29.29px">
                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
              </button>
            </p>
          </div>
        </p-header>
        <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
          <div class="ui-g lap-form">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.chose_item_group' | translate }}
                </div>
                <div class="ui-g-12 ui-md-9">
                  <ng-selectize [config]="defaultSelectizeConfigTreeS" [(ngModel)]="selectedItemGroupSearch"
                    formControlName="item_group_id" [options]="item_groups"
                    placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.fr_published_date_time' | translate }}
                </div>
                <div class="ui-g-12 ui-md-2">
                  <p-calendar #cal_fr_published_date_time (onSelect)="selectCalendar($event, cal_fr_published_date_time)"
                    appendTo="body" [showIcon]="true" formControlName="fr_published_date_time" [locale]="locale_calendar"
                    (keydown)="onlyNumbers($event)" (input)="addSlash($event)" [dateFormat]="dateFormat"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.to_published_date_time' | translate }}
                </div>
                <div class="ui-g-12 ui-md-2">
                  <p-calendar #cal_to_published_date_time (onSelect)="selectCalendar($event, cal_to_published_date_time)"
                    appendTo="body" [showIcon]="true" formControlName="to_published_date_time" [locale]="locale_calendar"
                    (keydown)="onlyNumbers($event)" (input)="addSlash($event)" [dateFormat]="dateFormat"></p-calendar>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.content_search' | translate }}
                </div>
                <div class="ui-g-12 ui-md-9">
                  <input pInputText formControlName="content_search" ngModel type="text">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">&nbsp;</div>
                <div class="ui-g-12 ui-md-2">
                  <button type="submit" class="btn btn-primary btn-xs">
                    <i class="fa fa-search"></i> {{ 'COMMON.search' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    <div class="ui-g-12 datatable-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <div class="pull-left">
              <div class="ui-inputgroup">
                <input type="text" [(ngModel)]="globalFilterText" (keypress)="filterInTable($event)" pInputText
                  placeholder="{{ 'COMMON.grid_search' | translate }}">
                <button pButton type="button" (click)="filterInTable($event)" icon="fa-search"
                  class="ui-button-secondary"></button>
              </div>
            </div>
            <div class="pull-right">
              <div class="btn-group">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <p-table #dataTable [value]="data" [lazy]="true" [dataKey]="dataKey" [rows]="pageSize"
            [(selection)]="selectedDataTableItems">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 38px; text-align: center;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 50px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                <th style="text-align: left;">{{ 'MODULE.CMS.item_title' | translate }}</th>
                <th style="width: 200px; text-align: left;">{{ 'MODULE.CMS.view_item_group_name' | translate }}</th>
                <th style="width: 150px; text-align: left;">{{ 'MODULE.CMS.created_by_user_name' | translate }}</th>
                <th style="width: 150px; text-align: left;">{{ 'MODULE.CMS.published_by_user_name' | translate }}</th>
                <th style="width: 100px; text-align: left;">{{ 'MODULE.CMS.published_date_time' | translate }}</th>
                <th style="width: 120px; text-align: left;">{{ 'COMMON.action' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr [pSelectableRow]="row">
                <td style="width: 38px; text-align: center;">
                  <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td>
                <td style="width: 50px; text-align: center;">
                  <div class="index_{{ row.item_id }}">{{ first + i + 1 }}</div>
                </td>
                <td style="text-align: left;">
                  {{ row.item_title }}
                  <span *ngIf="row.comment" style="color: red;"><i title="{{ 'MODULE.CMS.item_cancel' | translate }}"
                      class="fa fa-comment-alt"></i></span>
                </td>
                <td style="text-align: left;">{{ row.item_group_name }}</td>
                <td style="text-align: left;">{{ row.created_by_user_name }}</td>
                <td style="text-align: left;">{{ row.published_by_user_name }}</td>
                <td style="text-align: left;">{{ row.published_date_time | date:fDate }}</td>
                <td class="action-col" style="width: 120px; text-align: left;">
                  <div class="btn-group">
                    <button title="{{ 'COMMON.view' | translate }}" class="btn btn-xs btn-white btn-default"
                      (click)="openViewUpdateModal(row)">
                      <i class="ace-icon fa fa-eye"></i>
                    </button>
                    <button title="{{ 'COMMON.news_down' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasUpdateDownermission" (click)="onDown(row)">
                      <i class="ace-icon fa fa-arrow-alt-circle-down"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="50">
                  <div style="text-align: center;display: flex;justify-content: center; position: relative;">
                    <div style="float: left; position: absolute;left: 0px;padding-top: 3px;">
                    </div>
                    <div style="display: inline-block">
                      <p-paginator [first]="first" dropdownAppendTo="body" [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [rows]="pageSize"
                        [pageLinkSize]="10"></p-paginator>
                    </div>
                    <div class="custom-ng-star-inserted">
                      <div class="ui-inputgroup">
                        <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt" (keypress)="goToPage($event)"
                          [(ngModel)]="page" pInputText placeholder="{{ 'COMMON.page_number' | translate }}">
                        <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                        <button pButton type="button" (click)="goToPage($event)" icon="fa-random"
                          class="ui-button-secondary"></button>
                      </div>
                    </div>
                    <span style="float: right;position: absolute;right: 0px;padding-top: 3px;">{{ pageLabel }}</span>
                    <div class="clearfix"></div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="50">
                  {{ 'COMMON.empty_table' | translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div id="updateViewItemModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'MODULE.CMS.view_item' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="!doneSetupForm" class="loading-overlay">
            <i class="fa fa-spinner fa-spin orange"></i>
          </div>
          <div *ngIf="doneSetupForm" class="lap-form">
            <div class="row ui-fluid">
              <div class="ui-g-12 ui-md-12 text-left">
                <b>
                  <div [innerHtml]="item.item_title | safeHtml"></div>
                </b>
              </div>
              <div class="ui-g-12 ui-md-4 text-left">
                <img [src]="gfp(host_image + item.image_url)" width="100%" />
              </div>
              <div class="ui-g-12 ui-md-8 text-left">
                <i>
                  <div [innerHtml]="item.item_sub_title | safeHtml"></div>
                </i>
              </div>
              <div class="ui-g-12 ui-md-12 text-left">
                <div [innerHtml]="item.item_detail | safeHtml"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" (click)="closeUpdateForm($event)">
            <i class="fa fa-check"></i> {{ 'COMMON.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [baseZIndex]="25000" header="{{ 'COMMON.confirm' | translate }}" icon="fa fa-question-circle"
width="425" #cd>
<p-footer>
  <button type="button" pButton icon="fa-check" label="{{ 'COMMON.ok' | translate }}" (click)="cd.accept()"></button>
  <button type="button" pButton icon="fa-close" label="{{ 'COMMON.cancel' | translate }}"
    (click)="cd.reject()"></button>
</p-footer>
</p-confirmDialog>