<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
    </li>
    <li class="active">{{ 'MODULE.CMS.item_composing' | translate }}</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;" class="btn btn-primary btn-xs">
        <i class="fa fa-search"></i>&nbsp;&nbsp;{{ 'COMMON.search' | translate }}
      </a>
      <a *ngIf="hasCreatePermission" class="btn btn-success btn-xs" (click)="openCreateModal()">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'COMMON.add' | translate }}</a>
    </p>
  </div>
</div>
<div class="page-content">
  <div class="row">
    <div class="ui-g-12" *ngIf="showSearchPanel">
      <p-panel class="ui-fluid">
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">{{
              'COMMON.search' | translate }}</span>
            <p class="pull-right no-margin">
              <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                class="btn btn-xs btn-primary" style="width: 29.29px">
                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
              </button>
            </p>
          </div>
        </p-header>
        <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
          <div class="ui-g lap-form">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.chose_item_group' | translate }}
                </div>
                <div class="ui-g-12 ui-md-9">
                  <ng-selectize [config]="defaultSelectizeConfigTreeS" [(ngModel)]="selectedItemGroupSearch"
                    formControlName="item_group_id" [options]="item_groups"
                    placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.fr_created_date_time' | translate }}
                </div>
                <div class="ui-g-12 ui-md-2">
                  <p-calendar #cal_fr_created_date_time (onSelect)="selectCalendar($event, cal_fr_created_date_time)"
                    appendTo="body" [showIcon]="true" formControlName="fr_created_date_time" [locale]="locale_calendar"
                    (keydown)="onlyNumbers($event)" (input)="addSlash($event)" [dateFormat]="dateFormat"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.to_created_date_time' | translate }}
                </div>
                <div class="ui-g-12 ui-md-2">
                  <p-calendar #cal_to_created_date_time (onSelect)="selectCalendar($event, cal_to_created_date_time)"
                    appendTo="body" [showIcon]="true" formControlName="to_created_date_time" [locale]="locale_calendar"
                    (keydown)="onlyNumbers($event)" (input)="addSlash($event)" [dateFormat]="dateFormat"></p-calendar>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  {{ 'MODULE.CMS.content_search' | translate }}
                </div>
                <div class="ui-g-12 ui-md-9">
                  <input pInputText formControlName="content_search" ngModel type="text">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">&nbsp;</div>
                <div class="ui-g-12 ui-md-2">
                  <button type="submit" class="btn btn-primary btn-xs">
                    <i class="fa fa-search"></i> {{ 'COMMON.search' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    <div class="ui-g-12 datatable-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <div class="pull-left">
              <div class="ui-inputgroup">
                <input type="text" [(ngModel)]="globalFilterText" (keypress)="filterInTable($event)" pInputText
                  placeholder="{{ 'COMMON.grid_search' | translate }}">
                <button pButton type="button" (click)="filterInTable($event)" icon="fa-search"
                  class="ui-button-secondary"></button>
              </div>
            </div>
            <div class="pull-right">
              <div class="btn-group">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <p-table #dataTable [value]="data" [lazy]="true" [dataKey]="dataKey" [rows]="pageSize"
            [(selection)]="selectedDataTableItems">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 38px; text-align: center;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 50px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                <th style="text-align: left;">{{ 'MODULE.CMS.item_title' | translate }}</th>
                <th style="width: 200px; text-align: left;">{{ 'MODULE.CMS.view_item_group_name' | translate }}</th>
                <th style="width: 150px; text-align: left;">{{ 'MODULE.CMS.created_by_user_name' | translate }}</th>
                <th style="width: 100px; text-align: left;">{{ 'MODULE.CMS.created_date_time' | translate }}</th>
                <th style="width: 140px; text-align: left;">{{ 'COMMON.action' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr [pSelectableRow]="row">
                <td style="width: 38px; text-align: center;">
                  <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td>
                <td style="width: 50px; text-align: center;">
                  <div class="index_{{ row.item_id }}">{{ first + i + 1 }}</div>
                </td>
                <td style="text-align: left;">
                  {{ row.item_title }}
                  <span *ngIf="row.comment" style="color: red;"><i title="{{ 'MODULE.CMS.item_cancel' | translate }}"
                      class="fa fa-comment-alt"></i></span>
                </td>
                <td style="text-align: left;">{{ row.item_group_name }}</td>
                <td style="text-align: left;">{{ row.created_by_user_name }}</td>
                <td style="text-align: left;">{{ row.created_date_time | date:fDate }}</td>
                <td class="action-col" style="width: 140px; text-align: left;">
                  <div class="btn-group">
                    <button title="{{ 'COMMON.view' | translate }}" class="btn btn-xs btn-white btn-default"
                      (click)="openViewUpdateModal(row)">
                      <i class="ace-icon fa fa-eye"></i>
                    </button>
                    <button title="{{ 'COMMON.update' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasUpdatePermission" (click)="openUpdateModal(row)">
                      <i class="ace-icon fa fa-edit"></i>
                    </button>
                    <button title="{{ 'COMMON.delete' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasDeletePermission" (click)="onRemove([row])">
                      <i class="ace-icon fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="50">
                  <div style="text-align: center;display: flex;justify-content: center; position: relative;">
                    <div style="float: left; position: absolute;left: 0px;padding-top: 3px;">
                      <p-splitButton *ngIf="tableActions.length > 0" [disabled]="selectedDataTableItems.length == 0"
                        label="{{ 'COMMON.action' | translate }}" icon="fa-check" [model]="tableActions">
                      </p-splitButton>
                    </div>
                    <div style="display: inline-block">
                      <p-paginator [first]="first" dropdownAppendTo="body" [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [rows]="pageSize"
                        [pageLinkSize]="10"></p-paginator>
                    </div>
                    <div class="custom-ng-star-inserted">
                      <div class="ui-inputgroup">
                        <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt" (keypress)="goToPage($event)"
                          [(ngModel)]="page" pInputText placeholder="{{ 'COMMON.page_number' | translate }}">
                        <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                        <button pButton type="button" (click)="goToPage($event)" icon="fa-random"
                          class="ui-button-secondary"></button>
                      </div>
                    </div>
                    <span style="float: right;position: absolute;right: 0px;padding-top: 3px;">{{ pageLabel }}</span>
                    <div class="clearfix"></div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="50">
                  {{ 'COMMON.empty_table' | translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(hasCreatePermission || hasUpdatePermission) && showUpdateModal" id="updateItemModal" class="modal fade"
    role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="isCreate" class="modal-title">{{ 'MODULE.CMS.create_item' | translate }}</h4>
          <h4 *ngIf="!isCreate" class="modal-title">{{ 'MODULE.CMS.update_item' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="!doneSetupForm" class="loading-overlay">
            <i class="fa fa-spinner fa-spin orange"></i>
          </div>
          <form *ngIf="doneSetupForm" [formGroup]="updateForm" id="updateForm" class="lap-form">
            <div class="row ui-fluid">
              <div *ngIf="item.comment" class="ui-g-12 ui-md-12 text-left" style="color: red;">
                <b><i class="fa fa-comment-alt"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.comment_approve' | translate }}</b>
              </div>
              <div *ngIf="item.comment" class="ui-g-12 ui-md-12 text-left" style="margin-bottom: 10px;">
                <div [innerHtml]="item.comment | safeHtml"></div>
              </div>
              <div class="ui-g-12 ui-md-12 text-left">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.chose_item_group_news' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12">
                <error-messages [errors]="updateForm.controls['item_group_id'].errors"
                  [control]="updateForm.controls['item_group_id']"></error-messages>
                <ng-selectize [config]="defaultSelectizeConfigTreeS" [(ngModel)]="selectedItemGroup"
                  formControlName="item_group_id" [options]="item_groups" placeholder="{{ 'COMMON.all' | translate }}">
                </ng-selectize>
              </div>
              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.item_title' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12">
                <error-messages class="has-dl" [errors]="updateForm.controls['title_l'].errors"
                  [control]="updateForm.controls['title_l']"></error-messages>
                <error-messages class="has-dl" [errors]="updateForm.controls['title_e'].errors"
                  [control]="updateForm.controls['title_e']"></error-messages>
                <div class="ui-inputgroup dual-language">
                  <textarea [rows]="3" formControlName="title_l" [class.hidden]="!local_flag"
                    [(ngModel)]="item.item_title_l" pInputTextarea style="resize: none"></textarea>
                  <textarea [rows]="3" formControlName="title_e" [class.hidden]="local_flag"
                    [(ngModel)]="item.item_title_e" pInputTextarea style="resize: none"></textarea>
                  <language-switcher [(local_flag)]="local_flag"></language-switcher>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.item_sub_title' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12">
                <error-messages class="has-dl" [errors]="updateForm.controls['sub_title_l'].errors"
                  [control]="updateForm.controls['sub_title_l']"></error-messages>
                <error-messages class="has-dl" [errors]="updateForm.controls['sub_title_e'].errors"
                  [control]="updateForm.controls['sub_title_e']"></error-messages>
                <div class="ui-inputgroup dual-language">
                  <textarea [rows]="10" formControlName="sub_title_l" [class.hidden]="!local_flag"
                    [(ngModel)]="item.item_sub_title_l" pInputTextarea style="resize: none"></textarea>
                  <textarea [rows]="10" formControlName="sub_title_e" [class.hidden]="local_flag"
                    [(ngModel)]="item.item_sub_title_e" pInputTextarea style="resize: none"></textarea>
                  <language-switcher [(local_flag)]="local_flag"></language-switcher>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.item_title_image' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12 text-left">
                <file-upload #file_title_image className="f_image_url" formControlName="file_title_image"
                  mode="advanced" multiple="false" accept="image/*" maxFileSize="5242880" previewWidth="100"
                  ngDefaultControl (emtFileUploadChange)="emtFileUploadChange($event)"></file-upload>
                <div class="existing-file-row">
                  <div class="ui-fileupload-row f_image_url"
                    *ngIf="item.image_url != null && item.image_url != '' && item.image_url.split(';').length == 2">
                    <div *ngIf="isImage(item.image_url)">
                      <img [src]="gfp(host_image + item.image_url)" width="100" />
                    </div>
                    <div *ngIf="!isImage(item.image_url)">
                      <span>
                        <i class="fa fa-file" style="color: #444444"></i>
                      </span>
                    </div>
                    <div> {{ gfnng(item.image_url) }} </div>
                    <div> {{ gfs(item.image_url) }} Kb</div>
                    <div>
                      <i title="{{ 'COMMON.remove_file' | translate }}"
                        (click)="item.image_url = null; updateFormChangedByFileUpload = true;"
                        style="cursor: pointer;margin-left: 10px; color: red;" class="fa fa-times"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.item_detail' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12 text-center">
                {{ 'MODULE.CMS.chose_input_news' | translate }}
              </div>
              <div class="ui-g-12 ui-md-4 text-center">
                <p-radioButton label="{{ 'MODULE.CMS.item_detail_from_handmade' | translate }}" formControlName="type"
                  [value]="2" [(ngModel)]="selectedType"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-4 text-center">
                <p-radioButton label="{{ 'MODULE.CMS.item_detail_from_word' | translate }}" formControlName="type"
                  [value]="0" [(ngModel)]="selectedType"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-4 text-center">
                <p-radioButton label="{{ 'MODULE.CMS.item_detail_from_pdf' | translate }}" formControlName="type"
                  [value]="1" [(ngModel)]="selectedType"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-12 text-center">
                {{ 'MODULE.CMS.____' | translate }}
              </div>
              <!-- Detail from handmade -->
              <div *ngIf="selectedType == '2'" class="ui-g-12 ui-md-12">
                <app-filemanager  [category]="'news'" [id]="item.item_id" (eveInsertImage)="insertImage($event)"></app-filemanager>
              </div>
              <!-- Import content from word file -->
              <div *ngIf="selectedType == '0'" class="ui-g-12 ui-md-12">
                <div class="col-md-6 text-left">
                  <div class="ui-inputgroup">
                    <span style="padding-top: 10px; margin-right: 10px;">
                      {{ 'COMMON.upload_file_word' | translate }}
                    </span>
                    <input type="file" #file placeholder="{{ 'COMMON.choose_file_word' | translate }}"
                      (change)="uploadFileWord(file.files)" style="display:none;" accept=".docx">
                    <button type="button" class="btn btn-default btn-minier" (click)="file.click()">
                      <i class="fa fa-upload"></i> {{ 'COMMON.upload_file' | translate }}
                    </button>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <span class="upload" *ngIf="progress > 0 && !is_upload_success"
                    style="padding-top: 10px; margin-left: 10px;">
                    {{ 'COMMON.upload_file_progress' | translate }}{{progress}}%
                  </span>
                  <span class="upload" *ngIf="is_upload_success">
                    {{ 'COMMON.upload_success' | translate }}
                  </span>
                </div>
              </div>
              <!-- Import content from pdf file -->
              <div *ngIf="selectedType == '1'" class="ui-g-12 ui-md-12">
                <div class="col-md-6 text-left">
                  <div class="ui-inputgroup">
                    <span style="padding-top: 10px; margin-right: 10px;">
                      {{ 'COMMON.upload_file_pdf' | translate }}
                    </span>
                    <input type="file" #file placeholder="{{ 'COMMON.choose_file_pdf' | translate }}"
                      (change)="uploadFilePdf(file.files)" style="display:none;" accept=".pdf">
                    <button type="button" class="btn btn-default btn-minier" (click)="file.click()">
                      <i class="fa fa-upload"></i> {{ 'COMMON.upload_file' | translate }}
                    </button>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <span class="upload" *ngIf="progress > 0 && !is_upload_success"
                    style="padding-top: 10px; margin-left: 10px;">
                    {{ 'COMMON.upload_file_progress' | translate }}{{progress}}%
                  </span>
                  <span class="upload" *ngIf="is_upload_success">
                    {{ 'COMMON.upload_success' | translate }}
                  </span>
                </div>
              </div>
              <!-- Detail -->
              <div *ngIf="selectedType == '0' || selectedType == '2'" class="ui-g-12 ui-md-12"
                style="margin-top: 10px;">
                <div class="ui-inputgroup dual-language">
                  <ckeditor #ckeditor_l style="width: 100%!important;" [class.hidden]="!local_flag"
                    formControlName="detail_l" [(ngModel)]="item.item_detail_l" [config]="ckeConfig"> </ckeditor>
                  <ckeditor #ckeditor_e style="width: 100%!important;" [class.hidden]="local_flag"
                    formControlName="detail_e" [(ngModel)]="item.item_detail_e" [config]="ckeConfig"> </ckeditor>
                  <language-switcher [(local_flag)]="local_flag"></language-switcher>
                </div>
              </div>
              <div *ngIf="selectedType == '1'" class="ui-g-12 ui-md-12" style="margin-top: 10px;">
                <div
                  style="overflow: scroll;height: 520px; border: 1px solid #ccc; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px">
                  <div *ngIf="!local_flag" [innerHtml]="item.item_detail_l | safeHtml"></div>
                  <div *ngIf="local_flag" [innerHtml]="item.item_detail_e | safeHtml"></div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.item_type' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12">
                <error-messages [errors]="updateForm.controls['item_type_rcd'].errors"
                  [control]="updateForm.controls['item_type_rcd']"></error-messages>
                <ng-selectize [config]="defaultSelectizeConfigS" formControlName="item_type_rcd"
                  [(ngModel)]="selectedItemTypeRef" [options]="item_type_refs"
                  placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
              </div>

              <div *ngIf="selectedItemStatusRef=='PUP'" class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.published_date_time' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div *ngIf="selectedItemStatusRef=='PUP'" class="ui-g-12 ui-md-4">
                <error-messages [errors]="updateForm.controls['published_date_time'].errors"
                  [control]="updateForm.controls['published_date_time']"></error-messages>
                <p-calendar #calDoB_l [showIcon]="true" [(ngModel)]="published_date_time"
                  formControlName="published_date_time" [locale]="locale_calendar" (keydown)="onlyNumbers($event)"
                  (input)="addSlash($event)" [dateFormat]="dateFormat" (onBlur)="blurCalendar($event, calDoB_l)"
                  (onSelect)="selectCalendar($event, calDoB_l)" appendTo="body"></p-calendar>
              </div>


              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <b><i class="fa fa-thumbtack"></i>&nbsp;&nbsp;{{ 'MODULE.CMS.item_status' | translate }}<span
                    class="red">*</span></b>
              </div>
              <div class="ui-g-12 ui-md-12">
                <error-messages [errors]="updateForm.controls['item_status_rcd'].errors"
                  [control]="updateForm.controls['item_status_rcd']"></error-messages>
                <ng-selectize [config]="defaultSelectizeConfigS" formControlName="item_status_rcd"
                  [(ngModel)]="selectedItemStatusRef" [options]="item_status_refs"
                  placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
              </div>
              <div class="ui-g-12 ui-md-12 text-left" style="margin-top: 10px;">
                <p-checkbox formControlName="auto_fill" [(ngModel)]="auto_fill" binary="true"
                  label="Hệ thống tự động điền thông tin trường để trống"></p-checkbox>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!doneSetupForm" class="btn btn-default btn-sm" (click)="resetUpdateForm()">
            <i class="fa fa-sync-alt"></i> {{ 'COMMON.reset' | translate }}
          </button>
          <button type="button" (click)="onSubmit()"
            [disabled]="!doneSetupForm || (!updateForm.valid && !is_upload) || !modified() || submitting"
            class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> {{ 'COMMON.ok' | translate }}
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="closeUpdateForm($event)">
            <i class="fa fa-check"></i> {{ 'COMMON.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="updateViewItemModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'MODULE.CMS.view_item' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="!doneSetupForm" class="loading-overlay">
            <i class="fa fa-spinner fa-spin orange"></i>
          </div>
          <div *ngIf="doneSetupForm" class="lap-form">
            <div class="row ui-fluid">
              <div class="ui-g-12 ui-md-12 text-left">
                <b>
                  <div [innerHtml]="item.item_title | safeHtml"></div>
                </b>
              </div>
              <div class="ui-g-12 ui-md-4 text-left">
                <img [src]="gfp(host_image + item.image_url)" width="100%" />
              </div>
              <div class="ui-g-12 ui-md-8 text-left">
                <i>
                  <div [innerHtml]="item.item_sub_title | safeHtml"></div>
                </i>
              </div>
              <div class="ui-g-12 ui-md-12 text-left">
                <div [innerHtml]="item.item_detail | safeHtml"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" (click)="closeUpdateForm($event)">
            <i class="fa fa-check"></i> {{ 'COMMON.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [baseZIndex]="25000" header="{{ 'COMMON.confirm' | translate }}" icon="fa fa-question-circle"
  width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="{{ 'COMMON.ok' | translate }}" (click)="cd.accept()"></button>
    <button type="button" pButton icon="fa-close" label="{{ 'COMMON.cancel' | translate }}"
      (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>