<div class="breadcrumbs ace-save-state  breadcrumbs-fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
    </li>
    <li class="active">{{ 'COMMON.dashboard' | translate }}</li>
  </ul>
</div>

<div class="page-content" style="background-color: #fff!important">
  <div class="row">
    <div class="ui-g-12">
      <div class="well no-margin-bottom">
        <h3 class="red">
          Trước khi làm việc vui lòng nhấn <b>Ctrl + F5</b> để cập nhật phiên bản mới nhất. Trong quá trình làm việc nếu
          hệ thống hoạt động chậm vui lòng nhấn <b>Ctrl + F5</b> để làm mới bộ nhớ
        </h3>
      </div>
    </div>
    <!-- <div class="ui-g-12">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h4 class="widget-title lighter">
            <i class="ace-icon fa fa-star orange"></i>
            Mọi hỗ trợ liên hệ với Trung tâm phần mềm  - Đại học Sư phạm Kỹ thuật Hưng yên 
          </h4>
        </div>

        <div class="widget-body">
          <div class="widget-main no-padding-bottom">

            <div class="profile-users clearfix">
              <div class="itemdiv memberdiv">
                <div class="inline pos-rel">
                  <div class="user">
                    <a href="#">
                      <img src="assets/images/avatars/avatar4.png" alt="Bob Doe's avatar">
                    </a>
                  </div>
                  <div class="body">
                    <div class="name">
                      <a href="#">
                        <span class="user-status status-online"></span>
                       Nguyễn Hữu Đông<br>
                        0983539745
                      </a>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div> 
        </div>
      </div>
    </div> -->
  </div>
